body {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.905);
}
#old-style-calculator-btn,
#new-style-calculator-btn {
  margin-bottom: 30px;
  box-shadow: 2px 2px 7px 1px #ce5937;
  border-radius: 10px;
  width: 160px;
}

.calculator-container {
  height: 410px;
  width: 300px;
  background-color: black;
  border-radius: 3px;
  border: 1px solid silver;
}
.calculator-top-container {
  display: none;
}

.calculator-display-container {
  display: flex;
  width: 300px;
  justify-content: center;
}

.calculator-display {
  display: flex;
  flex: none;
  flex-direction: column;
  background-color: black;
  border: 2px solid silver;
  width: 298px;
  height: 120px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0px;
}
.calculator-memory-container {
  width: 246px;
  height: 10px;
  color: white;
  position: absolute;
  margin-bottom: 95px;
  margin-right: 5px;
  display: flex;
  flex-direction: row-reverse;
}
.calculator-memory {
  font-size: 15px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.calculator-text {
  font-size: 40px;
  padding: 3px;
  margin: 5px 5px 8px 0px;
  color: white;
}
.calculator-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 285px;
  margin: 0px;
}
.calculator-btn-row-5-btn {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.calculator-btn-row {
  display: flex;
}
.calculator-btn,
.calculator-btn-top {
  width: 60px;
  height: 57px;
  background-color: black;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  border: 0.5px solid silver;
}

.calculator-btn-top:hover,
.calculator-btn:hover {
  transition: 0.1s;
  background-color: rgb(255, 149, 0);
}
#calculator-ac-btn,
#calculator-c-btn {
  border: 3px solid red;
}
#calculator-equals-btn {
  border: 3px solid white;
}
.active-memory {
  border: 3px solid rgb(255, 149, 0);
}
