body {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  height: 410px;
  width: 300px;
  background-color: lightgray;
  border-radius: 20px;
  border: 1px solid darkgray;
}
.calculator-top-container {
  display: flex;
}
.calculator-top-left-container {
  display: flex;
  flex-direction: column;
  padding: 10px 80px 0px 15px;
  align-items: center;
}
.calculator-maker,
.calculator-model {
  padding: 3px;
  margin: 0;
}
.calculator-model {
  font-size: 12px;
}
.calculator-charger-container {
  background-color: rgb(126, 44, 44);
  width: 130px;
  height: 30px;
  border-radius: 5px;
  align-self: flex-end;
  padding: px;
  border: gray 1px solid;
}
.calculator-display-container {
  display: flex;
  width: 300px;
  justify-content: center;
}

.calculator-display {
  display: flex;
  flex: none;
  background-color: rgb(24, 119, 0);

  border: 2px solid rgb(121, 121, 121);
  width: 246px;
  height: 46px;

  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 17px;
}
.calculator-memory-container {
  position: absolute;
  width: 246px;
  height: 10px;
}
.calculator-memory {
  font-size: 10px;
  padding: 0px;
  margin: 3px 0px 0px 100px;
}
.calculator-text {
  font-size: 32px;
  padding: 3px;
  margin: 5px 0px 0px 0px;
  font-family: "Orbitron", sans-serif;
}
.calculator-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 270px;
}
.calculator-btn-row {
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding: 5px;
}
.calculator-btn {
  width: 60px;
  height: 30px;
  background-color: rgb(110, 109, 109);
  font-size: 20px;
  color: white;
  border-radius: 6px;
}
.calculator-btn-top {
  width: 48px;
  height: 30px;
  background-color: rgb(110, 109, 109);
  font-size: 18px;
  color: white;
  border-radius: 6px;
}
#calculator-ac-btn,
#calculator-c-btn {
  background-color: rgb(179, 1, 1);
}
